<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div class="search-container">
        <div class="header">
            Add Items To Cart
        </div>
        <div class="search-field">
            <input type="text" name="search"  placeholder="Look for an item..."/>
        </div>
        <div class="results"></div>
    </div>
  </body>
</html>
